In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import re
import openpyxl
#import xlsxwriter
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [9]:
df = pd.read_csv("./tweets.csv")
df.head(4)

,username,location,profileurl,isdefault,totaltweets,usercreatedts,tweetcreatedts
0,lllmielll,Ôπô ùíΩ i ùí¥outh ! Ôπö \n\nùí∞ r the only one special\...,https://pbs.twimg.com/profile_images/145482454...,False,81725,2019-03-29 14:59:43+00:00,2021-10-31 15:08:13+00:00
1,saddearlly,Seoul,https://pbs.twimg.com/profile_images/145107663...,False,3035,2020-08-24 15:09:44+00:00,2021-10-31 15:08:13+00:00
2,tiueyycads,NaN,https://pbs.twimg.com/profile_images/145372951...,False,1040,2021-07-07 09:47:38+00:00,2021-10-31 15:08:13+00:00
3,amee_2003,ÿßŸÑŸÖŸÖŸÑŸÉÿ© ÿßŸÑÿπÿ±ÿ®Ÿäÿ© ÿßŸÑÿ≥ÿπŸàÿØŸäÿ©,https://pbs.twimg.com/profile_images/135590960...,False,10259,2021-01-31 14:18:52+00:00,2021-10-31 15:08:13+00:00

In [10]:
urls = df['profileurl'].tolist()
names = df['username'].tolist()

In [ ]:
i=0;

for url in urls:
  try:

    #url = 'https://pbs.twimg.com/profile_images/1454824548155551748/2EN9OKHD_normal.jpg'
    r = requests.get(url, allow_redirects=True)

    open(names[i]+'.jpg', 'wb').write(r.content)
    i = i+1
  
  except:
    
    continue