In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('alltweets.csv')
df.head(4)

    Username                   Datetime             Tweet Id Location
0  006mariee  2021-08-24 17:44:45+00:00  1430224574914961417     Peru
1  006mariee  2021-08-24 17:27:56+00:00  1430220344049143813     Peru
2  006mariee  2021-06-12 16:24:25+00:00  1403750042310266882     Peru
3  006mariee  2021-03-05 21:13:36+00:00  1367946421148803079     Peru

In [ ]:
df.shape

(2422609, 4)

In [ ]:
pf = pd.read_csv('merged.csv')
pf.head(4)

,age,name,Username,user.name,last.name,first.name,pred_gender,X__name,race,Asian.GreaterEastAsian.EastAsian,...,GreaterAfrican.Muslim,GreaterEuropean.British,GreaterEuropean.EastEuropean,GreaterEuropean.Jewish,GreaterEuropean.WestEuropean.French,GreaterEuropean.WestEuropean.Germanic,GreaterEuropean.WestEuropean.Hispanic,GreaterEuropean.WestEuropean.Italian,GreaterEuropean.WestEuropean.Nordic,stream
0,33.0,NaN,NaN,NaN,NaN,NaN,male,nan nan,"Asian,IndianSubContinent",0.091619,...,0.177440,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_01
1,43.0,823.0,AgCyberGarrett,Rachel M Garrett,Garrett,Rachel,female,Garrett Rachel,"GreaterEuropean,British",0.004764,...,0.000489,0.420604,0.012191,0.041794,0.369811,0.005201,0.087219,0.041393,0.002036,stream_01
2,NaN,4217.0,hg_eric,Fay HG,HG,Fay,female,HG Fay,"Asian,GreaterEastAsian,EastAsian",0.426775,...,0.287222,0.054577,0.082216,0.031371,0.013938,0.007644,0.015432,0.007102,0.024582,stream_01
3,27.0,5109.0,ValarezoSilvia,Silvia Valarezo,Valarezo,Silvia,female,Valarezo Silvia,"GreaterEuropean,WestEuropean,Italian",0.000409,...,0.001677,0.016112,0.000441,0.015554,0.020900,0.003062,0.384799,0.540789,0.001884,stream_01

In [ ]:
#df.merge(pf, how='outer', on='Username')
res = pd.merge(df,pf,how='left',on='Username')
res.head(7)

,Username,Datetime,Tweet Id,Location,age,name,user.name,last.name,first.name,pred_gender,...,GreaterAfrican.Muslim,GreaterEuropean.British,GreaterEuropean.EastEuropean,GreaterEuropean.Jewish,GreaterEuropean.WestEuropean.French,GreaterEuropean.WestEuropean.Germanic,GreaterEuropean.WestEuropean.Hispanic,GreaterEuropean.WestEuropean.Italian,GreaterEuropean.WestEuropean.Nordic,stream
0,006mariee,2021-08-24 17:44:45+00:00,1430224574914961417,Peru,NaN,15844.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_01
1,006mariee,2021-08-24 17:44:45+00:00,1430224574914961417,Peru,NaN,50474.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_04
2,006mariee,2021-08-24 17:27:56+00:00,1430220344049143813,Peru,NaN,15844.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_01
3,006mariee,2021-08-24 17:27:56+00:00,1430220344049143813,Peru,NaN,50474.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_04
4,006mariee,2021-06-12 16:24:25+00:00,1403750042310266882,Peru,NaN,15844.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_01
5,006mariee,2021-06-12 16:24:25+00:00,1403750042310266882,Peru,NaN,50474.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_04
6,006mariee,2021-03-05 21:13:36+00:00,1367946421148803079,Peru,NaN,15844.0,NaN,NaN,NaN,NaN,...,0.17744,0.038147,0.062903,0.057932,0.016805,0.005648,0.013742,0.006852,0.010694,stream_01

In [ ]:
res.shape

(4194000, 26)

In [ ]:
res.to_csv('TweetsxDemographics.csv', index=False)